.github/
.vscode/

docker/Dockerfile*
docker-compose*.yml

node_modules/
**/node_modules

.yarn/cache
.yarn/install-state.gz

npm-debug.log
yarn-error.log

.dockerignore
.git
.gitignore

README.md
LICENSE

db/
*.xbackup.gz
*.xbackup.gz*
db-backup*